*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui;
}

:root {
  --acc: rgb(0, 115, 234);
  --acc-deep: rgb(0, 96, 185);
}

:root:has(main.light) {
  --bg: rgb(255, 255, 255);
  --txt: rgb(0, 0, 0);
  --txt-sec: rgb(0, 0, 0, 0.5);
  --bg-sec: rgb(238, 238, 238);
  --border: rgb(100, 100, 100, 0.5);
}

:root:has(main.dark) {
  --bg: rgb(24, 27, 52);
  --txt: rgb(255, 255, 255);
  --txt-sec: rgb(255, 255, 255, 0.5);
  --bg-sec: rgb(48, 50, 78);
  --border: rgb(100, 100, 100, 0.5);
}

:root:has(main.black) {
  --bg: rgb(17, 17, 17);
  --txt: rgb(255, 255, 255);
  --txt-sec: rgb(255, 255, 255, 0.5);
  --bg-sec: rgb(44, 44, 44);
  --border: rgb(100, 100, 100);
}

body {
  background-color: var(--bg);
  color: var(--txt);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
